
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./assets/img/texture.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #888; /* Резервный цвет, если картинка не загрузится */
  min-height: 100vh; /* Занимает всю высоту экрана */
  overflow-x: hidden; /* Убирает горизонтальную прокрутку */
}



.container1 {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
}
.stats-box {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  border: 1px solid #ddd;
}
.count {
  font-weight: bold;
  color: #e74c3c;
  font-size: 1.2em;
}
.unsub-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #ffffff !important;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}
